h1 {
  text-align: center;
}

.postsContainer {
  padding: 0.5rem;
}

.postItem {
  list-style: none;
  padding: 0.1rem;
}

.postTitle {
  width: 100%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  border: none;
  text-align: left;
  font-size: 1rem;
  transition: 0.4s;
}

.postTitleActive, .postTitle:hover {
  background-color: #ccc; 
}

.postBody {
  padding: 0 1rem;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.postBodyAccodion-enter {
  max-height: 0;
}

.postBodyAccodion-enter-active {
  max-height: 20rem;
  transition: max-height 500ms ease-in;
}

.postBodyAccodion-enter-done {
  max-height: 20rem;
}


.postBodyAccodion-exit {
  max-height: 20rem;
}

.postBodyAccodion-exit-active {
  max-height: 0;
  transition: max-height 500ms ease-out;
}

.postBodyAccodion-exit-done {
  max-height: 0;
}