h1 {
  text-align: center;
}

.postsContainer {
  padding: 0.5rem;
}

.postItem {
  list-style: none;
  padding: 0.1rem;
}

.postTitle {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  border: none;
  text-align: left;
  font-size: 1rem;
  transition: 0.4s;
}

.postTitleActive, .postTitle:hover {
  background-color: #ccc; 
}

.postBody {
  padding: 0 1rem;
  background-color: #fff;
  display: block;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.postBody:target {
   height: 1.5rem;
   padding: 1rem;
   overflow-y: scroll;
}