h1 {
  text-align: center;
}

.postsContainer {
  padding: 0.5rem;
}

.postItem {
  list-style: none;
  padding: 0.1rem;
}

.postTitle {
  width: 100%;
  background-color: rgba(238, 238, 238, 0.6);

  cursor: pointer;
  padding: 1rem;
  border: none;
  text-align: left;
  font-size: 1rem;
  transition: 0.4s;
}

.postTitleActive, .postTitle:hover {
  background-color: rgba(204, 204, 204, 0.9); 
}

.postBody {
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-out;
  text-align: left;
}

.postBodyAccodion-enter {
  max-height: 0;
}

.postBodyAccodion-enter-active {
  max-height: 20rem;
  transition: max-height 500ms ease-in;
}

.postBodyAccodion-enter-done {
  max-height: 20rem;
}


.postBodyAccodion-exit {
  max-height: 20rem;
}

.postBodyAccodion-exit-active {
  max-height: 0;
  transition: max-height 500ms ease-out;
}

.postBodyAccodion-exit-done {
  max-height: 0;
}

.tagSection {
  text-align: center;
  border-radius: 0.5rem;
  width: 85%;
  margin: 1.5rem auto;
  padding: 2rem 0;
  cursor: pointer;
}

.tagSection h2 {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(210, 210, 210, 0.5);
  width: 30%;
  margin: 1.5rem auto;
}

.crime {
  background-image: url('./tagImages/crimeTag.jpeg');
  background-position: top;
  background-size: cover;
}

.mystery {
  background-image: url('./tagImages/mysteryTag.jpeg');
  background-position: top;
  background-size: cover;
}

.magical {
  background-image: url('./tagImages/magicalTag.jpeg');
  background-position: top;
  background-size: cover;
}

.fiction {
  background-image: url('./tagImages/fictionTag.jpeg');
  background-position: top;
  background-size: cover;
}

.classic {
  background-image: url('./tagImages/classicTag.jpeg');
  background-position: top;
  background-size: cover;
}
